.container {
  background-color: aliceblue;
  color: crimson;

  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 10rem;
}
.container p {
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
}
